.container {
    border: 2px solid black;
    width: 980px;
    height: 690px;
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}