body {
    background-color: #C3B1E1;
}
.container {
    border: 3px solid white;
    width: 980px;
    height: 690px;
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}